/* Estilos para el botón de menú */
.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    /* Asegura que el botón esté por encima */
}

/* Modal que cubre toda la parte izquierda */
.modal-Nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    /* Asegura que el menú se alinee desde la izquierda */
}

.navbar-container {
    width: 250px;
    /* Ancho de la barra lateral */
    background-color: rgb(255, 255, 255);
    // color: white;
    padding: 20px;
    position: relative;
    color: white;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #6AB38F;
    padding: 20px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    border-bottom: 1px solid #444;
}

.menu-item:hover {
    background-color: #dcdcdc;
}

/* Estilo cuando el ítem está seleccionado */
.menu-item.selected {
    background-color: #7ab9dd;
    /* Color de fondo para el ítem seleccionado */
    color: white;
    /* Color del texto para el ítem seleccionado */
}


.overlay {
    position: absolute;
    top: 0;
    left: 21.5%;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* Opcionalmente puedes agregar más estilos aquí para hacer el modal más atractivo */