.ContenedorPrincipal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #6AB38F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background: #A8CBD2;
    padding: 100px;
    // border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen {
    width: 50%;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    text-align: left;
    padding-bottom: 10px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.input {
    // width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.button {
    width: 70%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #6AB38F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}